<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <!-- Semantic UI (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
</head>
<body>
<table class = "ui celled table">
    <thead>
    <tr>
        <th>id</th>
        <th>productName</th>
        <th>color</th>
        <th>size</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    {{#productList}}
        <tr>
            <td data-label="ID">{{id}}</td>
            <td data-label="productName">{{productName}}</td>
            <td data-label="color" >{{color}}</td>
            <td data-label="size">{{size}}</td>
            <td data-label="price">{{price}}</td>


    {{/productList}}
    </tbody>
</table>
</body>
</html>