<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <!-- Semantic UI (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
</head>
<body>
<table class = "ui celled table">
    <thead>
    <tr>
        <th>shippingID</th>
        <th>homeNumber</th>
        <th>streetName</th>
        <th>city</th>
    </tr>
    </thead>
    <tbody>
    {{#paymentList}}
        <tr>
            <td data-label="ID">{{shippingID}}</td>
            <td data-label="phoneNumber">{{homeNumber}}</td>
            <td data-label="streetName">{{streetName}}</td>
            <td data-label="city">{{city}}</td>


    {{/paymentList}}
    </tbody>
</table>
</body>
</html>