<!DOCTYPE html>
<html lang="en">

<head>
    <title>success page</title>
</head>
<body>

<p>Thank you!! {{entityName}} The data you added is done successfully!!</p>
<a href="/index.html">Back to the Home Page</a><br>
</body>
</html>