<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <!-- Semantic UI (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>phoneNumber</th>
        <th>orders</th>
    </tr>
    </thead>
    <tbody>
    {{#userList}}
        <tr>
            <td>{{id}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{phoneNumber}}</td>
            <td> {{#orders}} Order {{orderID}} ({{status}})<br> {{/orders}}</td>
        </tr>
    {{/userList}}
    </tbody>
</table>
</body>
</html>